:root {
  --bg: #F2F2F2;
  --main-color: #037169;
  --second-color: #A4D96D;
  --white-color: #fff;
  --primary-color-text: #303333;
  --second-color-text: #585B5B;
  --third-color-text: #C7C7C7;

  --twitter-color: #00ACEE;
  --linkedin-color: #0E76A8;
  --github-color: #000;
  --myweb-color: #c63e50;

  --main-font: 'Open Sans', sans-serif;
  --bold: 700;
  --semi-bold: 600;
  --regular: 400;
  --ligth: 300;
}