.logo {
    display: inline-block;
    
    & h1 {
        margin: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
        & img {
            display: block;
            width: 100%;
        }
    }
   
}